{% extends 'paginas/padre.html' %}
{% block titulo %}Sobre mi{% endblock %}
{% block subtitulo %}{% endblock %}
{% block relleno %}
    <h3>Mi nombre es Mariano Catini</h3>
    <br>
    <h4> Soy estudiante de ingenieria en computacion en la UNC, me gusta la programacion pero se me hace complicada aprenderla, sin embargo soy muy persistente</h4>
    <h4>Realice este curso para junto a la universidad poder entrar en el ambito de trabajo, para poder estudiar y trabajar al mismo tiempo lo que me gusta</h4>
    <h4>Por temas de "verguenza" decidi no subir una foto mia en el "about me"</h4>
    
<p>{{ mensaje }}</p>
{% endblock %}